/*Style of fonts*/

li,
a,
button {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/*Header style*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px 10px 10px;

  position: absolute;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;

  background: var(--white);
  border: 1px solid var(--black);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px var(--black);
}

/*Logo style*/
.logo {
  height: 46px;
  width: 240px;
  padding-bottom: 5px;
  padding-left: 65px;
  cursor: pointer;
}

/*space inside the navlist*/
.list .list-li {
  display: inline-block;
  padding: 0px 20px;
  margin-left: 35px;
}

/*to keep list without style*/
.list {
  position: static;
  width: 100%;
  left: 253px;
  top: -11.07px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;
}

/*style of transition*/
.list .list-link::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: var(--white);
  display: block;
  transition: 0.5s ease-out;
}

/*hover for transition in <a>*/
.list .list-link:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  left: 25%;
  background-color: var(--purple);
  display: block;
}

/*style of contact button*/
.btn-ctn {
  background-color: var(--gray);
  border: none;
  border-radius: 25px;
  padding: 9px 18px;
  color: var(--white);
  height: 45px;
  cursor: pointer;
  justify-content: right;
}

/*style of SingIn button*/

.btn-log {
  background-color: var(--dark-purple);
  height: 45px;
  width: 85px;
  color: var(--white);
  padding: 9px 8px;
  border: none;
  border-radius: 25px;
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/*style of SingIn button hover*/

.btn-log:hover {
  background-color: var(--purple);
}

/*color of background*/
body {
  background-color: var(--dark-green);
}

.lotus {
  margin-top: 6%;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lotus button {
  width: 8%;
  height: 6vh;
  background: transparent;
  border: 0;
  padding-left: 30px;
}

.lotus button img {
  height: 30px;
  width: 38px;
}

#lotus-image {
  margin-left: 46%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
}

.lotus input {
  background: url(../../assets/playing/Search.png) no-repeat right;
  background-size: 16%;
  margin-right: 30px;

  height: 6vh;
  border-radius: 36px;
  background-color: var(--light-gray);
}
.menu {
  align-items: center;
  justify-content: center;
}
.sound-image {
  margin-left: 33%;
  padding-top: 3%;
  align-items: center;
  width: 24rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sound-image img {
  width: 24rem;
  height: 24rem;
}

.sound-image p {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 0.7rem;
  color: var(--white);
}

.player {
  display: flex;
  height: 4rem;
  margin-left: 35%;
  width: 27rem;
  position: relative;
  flex-direction: row;
  margin-top: 3%;
}

.player span {
  color: var(--white);
  align-self: center;
  padding-top: 2%;
  padding-right: 64%;
  justify-content: space-between;
}

.player input {
  outline: none;
  height: 18px;
  position: absolute;
  width: 80%;
  border-radius: 5px;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  background-color: var(--light-gray);
  transition: opacity 0.2s;
}

.player input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--white);
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--black);
  cursor: pointer;
}

.player input:hover {
  opacity: 1;
}

.options {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 36%;
  width: 21rem;
  height: 5rem;
  justify-content: space-between;
}

.options button {
  width: 18%;
  height: 6vh;
  border: 0;
  padding-left: 30px;
  background: url(../../assets/playing/Vector.png) no-repeat transparent left;

  background-size: 64%;
}
.options button:nth-child(2) {
 
  padding: 13% 0 9%;
  background: url(../../assets/playing/Play-button.png) no-repeat transparent
    center;
  background-size: 3.6rem;
}

.options button:nth-child(3) {
  transform: rotateY(180deg);
  background: url(../../assets/playing/Vector.png) no-repeat transparent right;
  background-size: 64%;
}

/*style of footer*/
#footer {
  top: 62rem;
  position: absolute;
  width: 100%;
  height: 310px;
  background-color: var(--white);
}

/*style of footer list links*/

.foot-list {
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  padding-left: 150px;
  left: 5%;
  bottom: 35.5%;
  justify-content: space-between;
  line-height: 38px;
  list-style: none;
  position: relative;
  height: 120px;
  width: 50%;
}

.foot-list .list-footer-pages {
  font-family: "Poppins", sans-serif;
}

/*links below footer page*/
.foot-list-link {
  flex-direction: row;
  align-items: center;
  padding: 22px 12px;
  padding-left: 228px;
  justify-content: space-between;
  list-style: none;
  position: relative;
  width: auto;
  height: 120px;
}

.foot-list-link .list-footer-links {
  display: inline-block;
  margin: 0;
  justify-content: space-between;
  padding: 0px 25px;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  color: var(--purple);
}

/*styles of apps  (google and apple) */
.Apps {
  position: absolute;
  left: 41.62%;
  top: -0.29%;
  box-sizing: border-box;
  justify-content: space-between;
  inline-size: auto;
  height: auto;
}

/*style of icons*/
.Apps .apps-icon {
  display: inline-block;
  height: 35px;
  max-width: 30rem;
  margin: 0 auto;
  cursor: pointer;
  margin-right: 5px;
}

/*style of text*/
.Apps .apps-text {
  padding-left: 7.4%;
  font-size: 22px;
  padding-bottom: 3%;
  font-family: "Poppins", sans-serif;
  color: var(--purple);
}

/*style of social position in page*/
.social {
  position: absolute;
  right: 2.74%;
  top: -0.29%;
}
/*style of icons (facebook, instagram, youtube*/
.social-icon {
  height: 40px;
  width: 38px;
  padding-left: 5px;
  margin-left: 25px;
  cursor: pointer;
}
/*acesse nossas redes*/
.social .message {
  font-size: 22px;
  padding-bottom: 3%;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--purple);
}

/*style of the logo in footer*/

.logo-footer {
  height: auto;
  position: relative;
  width: 130px;
  left: 50px;
}

/*style of size of logo footer*/
.logo-footer .imgFooter {
  width: 80px;
  height: 63px;
  bottom: 30px;
}

/*style of name below footer image*/
.logo-footer .logoName {
  position: absolute;
  left: -6.22%;
  right: 85.35%;
  top: 40px;

  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;

  color: var(--dark-purple);
}
