/*Style of fonts*/

li,
a,
button {
  color: var(--black);
  font-weight: 500;

  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/*Header style*/
a{
  color: var(--white);
  text-decoration: none;
  transition:0.3s
}

a:hover{
  opacity: 0.7;
}

.logo{
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-family: var(--font-brand);
  color: var(--purple);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font), sans-serif;
  color: var(--purple);
  background-color: var(--white);
  height: 8vh;
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
}



.nav-list a{
  letter-spacing: 0.1rem;
  margin-left: 32px;
  color: var(--purple);
}

.nav-list li:nth-child(5){
  width: 9rem;
  background: var(--dark-glass);
    border-radius: 10px;
    height: 2.6rem;
    padding-top: 0.5rem;
    margin-left: 1rem;
}

.nav-list li:nth-child(5):hover{
  background-color: var(--gray);
  transition: all ease 1s;
  color: var(--white);
}

.nav-list li:nth-child(6):hover{
 
background-color: var(--dark-purple);
transition: all ease 1s;
color: var(--white);
}



.nav-list li:nth-child(6){
  background: var(--purple);
    border-radius: 10px;
    width: 9rem;
    height: 2.6rem;
    padding-top: 0.5rem;
    margin-left: 1rem;
    color: var(--white);
}


.ctn-btn{
  color: var(--black) !important;
  font-weight: 700;
    font-size: 1rem;
}

.ctn-btn:hover{
  color: var(--white) !important;
}

.sing-btn{
  padding-left: 0.7rem;
  padding-top: 4.2rem;
  color: var(--black) !important;
  font-weight: 700;
    font-size: 1rem;
}
  
.sing-btn:hover{
  color: var(--white) !important;
}

.mobile-nav{
  display: none;
  cursor: pointer;
}
.mobile-nav div {
  width: 32px;
  height: 2px;
  background-color: var(--dark-purple);
  margin: 8px;
  transition: all ease 1s;
}

/*Container of background*/
/*color of background*/
body {
  background: var(--elegant-black);
  overflow-x: hidden;
}

#container {
  padding: 1rem;
}

.lotus-head {
  padding: 1rem;
  align-items: center;
  display: flex;
  width: 56%;
  justify-content: space-between;
}

.lotus-head button {
  background: transparent;
  border: none;
}

#lotus-image {
  width: 4rem;
  height: 4rem;
  margin-left: 7rem;
}

.menu {
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.menu img {
height: 42vh;
}
.menu p {
  font-size: 3rem;
  font-family: var(--font);
  font-weight: 500;
  color: var(--white);
}

.player {
  flex-direction: row;
}
.player span {
  color: var(--white);
  font-size: 2rem;
}

.player input {
  height: 3rem;
  width: 20rem;
  border-radius: 12px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.options img {
  width: 3rem;
  height: 3rem;
}

.options button {
  background: transparent;
  border: none;
  padding: 3rem 5rem;
}



.options button:nth-child(3) {
  transform: rotate(180deg) !important;
}
/*style of footer*/
#footer {
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  background-color: var(--purple);
  font-family: var(--font);
  align-items: center;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
/*style of size of logo footer*/
.logo-footer {
  flex-direction: column;
  margin-left: 1.8rem;
}

/*style of name below footer image*/
.logo-footer h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--white);
  font-family: var(--font-brand);
}

.img-Footer {
  width: 3rem;
  height: 3rem;
}

.footer_socials {
  margin-bottom: 2rem;
}

.footer_icone {
  font-size: 1.5rem;
  color: var(--white);
  margin: 0 2rem;
}

.foot-p {
  font-family: var(--font);
  font-size: 1.2rem;
  color: var(--white);
}

/*Responsive for mobile*/

@media (max-width: 880px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 56vw;
    height: 92vh;
    z-index: 9;
    background: var(--elegant-black);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list a {
    color: var(--white);
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-nav {
    display: block;
  }

  #lotus-image {
    width: 5rem;
    margin-left: 2.3rem;
  }

  .lotus-head input {
    background-size: 2.1rem;
    margin-right: 0.2rem;
    height: 2.8rem;
    width: 11rem;
  }

  .options .play-image{
width: 3rem;
height: 3rem;
  }

  .options .arrows{
    width: 2rem;
    height: 2rem;

  }
  
   
  
}

@media (max-width: 480px) {
  .lotus-head button {
    background: transparent;
    border: none;
  }

  .lotus-head img {
    width: 3rem;
  }

  #lotus-image {
    width: 4rem;
    margin-left: 2.3rem;
  }

  .lotus-head input {
    background-size: 2.1rem;
    margin-right: 0.2rem;
    height: 2.8rem;
    width: 8rem;
  }

  .menu img {
    height: 32vh;
  }

  .menu p {
    font-size: 1.7rem;
  }

  .player {
    flex-direction: row;
  }

  .player span {
    color: var(--white);
    font-size: 1rem;
  }

  .player input {
    height: 3rem;
    width: 14rem;
    border-radius: 12px;
  }

  .options {
    padding: 2rem;
    width: 100%;
  }

  .options img {
    width: 3rem;
    height: 3rem;
  }

  .options button {
    padding: 2rem 2rem;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.mobile-nav.active .l1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-nav.active .l2 {
  opacity: 0;
}
.mobile-nav.active .l3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.nav-list.active {
  transform: translateX(0);
}
