/*Style of fonts*/

li,
a,
button {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/*Header style*/

a{
  color: var(--white);
  text-decoration: none;
  transition:0.3s
}

a:hover{
  opacity: 0.7;
}

.logo{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: var(--font-brand);
  color: var(--purple);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font), sans-serif;
  color: var(--purple);
  background-color: var(--white);
  height: 8vh;
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
}



.nav-list a{
  letter-spacing: 3px;
  margin-left: 32px;
  color: var(--purple);
}

.nav-list li:nth-child(5){
  width: 9rem;
  background: var(--dark-glass);
    border-radius: 10px;
    height: 2.6rem;
    padding-top: 0.5rem;
    margin-left: 1rem;
}

.nav-list li:nth-child(5):hover{
  background-color: var(--gray);
  transition: all ease 1s;
  color: var(--white);
}

.nav-list li:nth-child(6):hover{
 
background-color: var(--dark-purple);
transition: all ease 1s;
color: var(--white);
}



.nav-list li:nth-child(6){
  background: var(--purple);
    border-radius: 10px;
    width: 9rem;
    height: 2.6rem;
    padding-top: 0.5rem;
    margin-left: 1rem;
    color: var(--white);
}


.ctn-btn{
  color: var(--black) !important;
  font-weight: 700;
    font-size: 1rem;
}

.ctn-btn:hover{
  color: var(--white) !important;
}

.sing-btn{
  padding-left: 0.7rem;
  padding-top: 4.2rem;
  color: var(--black) !important;
  font-weight: 700;
    font-size: 1rem;
}
  
.sing-btn:hover{
  color: var(--white) !important;
}

.mobile-nav{
  display: none;
  cursor: pointer;
}
.mobile-nav div {
  width: 32px;
  height: 2px;
  background-color: var(--dark-purple);
  margin: 8px;
  transition: all ease 1s;
}
/*Container of background*/



.message .text {
  display: inline-block;
  color: var(--white);
  font-size: 14px;
  padding-right: 5px;
}

.singUp-box .bold-message {
  font-weight: 700;
  display: inline-block;
  position: absolute;
  width: 50%;
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
  bottom: 85%;
}

.title {
  height: 50px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

/*style of footer*/
#footer {
  top: 62rem;
  position: absolute;
  width: 100%;
  height: 240px;
}

/*style of footer list links*/

.foot-list {
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  padding-left: 150px;
  left: 5%;
  bottom: 35.5%;
  justify-content: space-between;
  line-height: 38px;
  list-style: none;
  position: relative;
  height: 120px;
  width: 50%;
}

.foot-list .list-footer-pages {
  font-family: "Poppins", sans-serif;
}

/*links below footer page*/
.foot-list-link {
  flex-direction: row;
  align-items: center;
  padding: 22px 12px;
  padding-left: 228px;
  justify-content: space-between;
  list-style: none;
  position: relative;
  width: auto;
  height: 120px;
}

.foot-list-link .list-footer-links {
  display: inline-block;
  margin: 0;
  justify-content: space-between;
  padding: 0px 25px;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  color: var(--purple);
}

/*styles of apps  (google and apple) */
.Apps {
  position: absolute;
  left: 41.62%;
  top: -0.29%;
  box-sizing: border-box;
  justify-content: space-between;
  inline-size: auto;
  height: auto;
}

/*style of icons*/
.Apps .apps-icon {
  display: inline-block;
  height: 35px;
  max-width: 30rem;
  margin: 0 auto;
  cursor: pointer;
  margin-right: 5px;
}

/*style of text*/
.Apps .apps-text {
  padding-left: 7.4%;
  font-size: 22px;
  padding-bottom: 3%;
  font-family: "Poppins", sans-serif;
  color: var(--purple);
}

/*style of social position in page*/
.social {
  position: absolute;
  right: 2.74%;
  top: -0.29%;
}
/*style of icons (facebook, instagram, youtube*/
.social-icon {
  height: 40px;
  width: 38px;
  padding-left: 5px;
  margin-left: 25px;
  cursor: pointer;
}
/*acesse nossas redes*/
.social .message {
  font-size: 22px;
  padding-bottom: 3%;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--purple);
}

/*style of the logo in footer*/

.logo-footer {
  height: auto;
  position: relative;
  width: 130px;
  left: 50px;
}

/*style of size of logo footer*/
.logo-footer .imgFooter {
  width: 80px;
  height: 63px;
  bottom: 30px;
}

/*style of name below footer image*/
.logo-footer .logoName {
  position: absolute;
  left: -6.22%;
  right: 85.35%;
  top: 40px;

  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;

  color: var(--dark-purple);
}



@media (max-width:880px){

  body{
    overflow-x: hidden;
  }
  .nav-list{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 56vw;
    z-index: 9;
    height: 92vh;
    background: var(--elegant-black);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  
.nav-list a{
  color: var(--white);
}

  .nav-list li{
    margin-left: 0;
    opacity: 0;
  }
 
  .mobile-nav{
    display: block;
  }
  
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
  
}
.mobile-nav.active .l1{
  transform: rotate(-45deg) translate(-8px, 8px);

}
.mobile-nav.active .l2{
  opacity: 0;

}
.mobile-nav.active .l3{  
  transform: rotate(45deg) translate(-5px, -7px);

}


.nav-list.active{
  transform: translateX(0);
}