body {
    background-color: var(--black);
    background-size: cover;
  }
  #invade-game {
    width: 100%;
    max-height: 60rem;
  }
  
  #Start-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  
    margin-top: 20rem;
    justify-content: center;
    margin-left: 28%;
  
    max-width: 100%;
    width: 45%;
    font-family: var(--font);
  
    padding: 2rem;
    background: var(--glass);
    border-radius: 15px;
  }
  
  #GameOver-Container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  
    margin-top: 20rem;
    justify-content: center;
    margin-left: 28%;
  
    max-width: 100%;
    width: 45%;
    font-family: var(--font);
  
    padding: 6rem;
    background: var(--glass);
    border-radius: 15px;
  }
  
  #Start-container h4 {
    font-family: var(--font);
    font-size: 2.7em;
    text-align: center;
    color: var(--white);
    border-radius: 15px;
    padding: 0.9rem;
  }
  
  #Start-container h2,
  #GameOver-Container h2 {
    font-family: var(--font);
    font-size: 3.3em;
    text-align: center;
    color: var(--white);
    border-radius: 15px;
    padding: 0.9rem;
  }
  
  #Start-container a,
  #GameOver-Container a {
    font-family: var(--font);
    font-size: 2em;
    color: var(--white);
    border: 2px solid white;
    border-radius: 15px;
    width: 56%;
    text-align: center;
    justify-content: center;
    padding: 1.6rem;
    margin-left: 21%;
  }
  
  #Start-container a:hover,
  #GameOver-Container a:hover {
    background-color: var(--glass);
  }
  
  @media (max-width: 768px) {
    #GameOver-Container {
      padding: 1rem;
    }
    #Start-container a,
    #GameOver-Container a {
      font-size: 1.4em;
    }
  
    #Start-container h2,
    #GameOver-Container h2 {
      font-size: 2.2em;
    }
  }
  