/*Variables*/
:root {
  --white: #fff;
  --ice:#f0f0f0;
  --black:#000;
  --elegant-black:#272c39;
  --purple: #7269e3;
  --dark-purple:#402f93;
  --primary-color:rgb(255, 255, 255);
  --gray:rgb(94, 94, 94);
  --light-gray:#C4C4C4;
  --light-gray2:#A6B3BD;
  --light-gray3:#f6f6f6;
  --light-gray4:#eeeeeebc;
  --glass:rgba(200, 200, 200, 0.4);
  --dark-glass:rgba(114, 114, 114, 0.5);
  --dark-green:#231934;

  --font: 'Poppins', arial;
  --font-brand: "Caveat", cursive;

  --blue-cloud: linear-gradient(#82A5EA ,#E0C1FF);
  --sea-color: linear-gradient(#5375EE ,#53C0EE);
  --purple-gradient: linear-gradient(#9753EE ,#7253EE);


  --desktop: 1200px;
  --laptop:1024px;
  --tablet:768px;
  --phone:480px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* Overflow-x -> esconde a barra do eixo X */
  overflow-x: hidden;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
    html {
      font-size: 87.5%;
    }
  }


label {
  color: var(--label);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

body,
input,
button,
textarea,
select,
p {
  font: 400 1rem "Roboto", sans-serif;
  margin: 0;
}

button,
select {
  cursor: pointer;
}
