/*Style of fonts*/

li,
a,
button {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/*Header style*/

header {
  width: 100vw;
  height: 9vh;
  position: fixed;
  z-index: 999;
  background-color: var(--white);
  font-family: var(--font);
  display: flex;
  align-items: center;
}


.Header-logo {
  width: 10rem;
  margin: 0 0.8rem;
  display: flex;
  align-items: center;
}

.Header-logo h2 {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--purple);
  font-family: var(--font-brand);
}

nav {
  display: block;
  margin-left: 12rem;
}

ul {
  display: flex;
  gap: 2.8rem;
  padding-top: 0.2rem;
  list-style: none;
}

li {
  display: list-item;
  align-self: center;
}

/*style of transition*/
.list .list-link::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: var(--white);
  display: block;
  transition: 0.5s ease-out;
}

/*hover for transition in <a>*/
.list .list-link:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  left: 25%;
  background-color: var(--purple);
  display: block;
}

/*style of contact button*/

#contato button {
  background-color: var(--light-gray);
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 7rem;
}

#contato button:hover {
  background-color: var(--gray);
  transition: all ease 1s;
  color: var(--white);
}

#entrar button {
  background-color: var(--purple);
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius: 10px;
  cursor: pointer;
}

#entrar button:hover {
  background-color: var(--dark-purple);
  transition: all ease 1s;
  color: var(--white);
}

/*Main*/

.mainImageHome {
  background: var(--purple);
  max-width: 1920px;
  max-height: 1080;
}

/*size of background image*/

.mainImg {
  position: absolute;
  width: 100%;
  height: 44rem;
  top: 83px;
  background-size: contain;
}

/*container text of text in background*/
.messageinBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;

  position: absolute;
  width: 552px;
  height: 333px;
  left: 120px;
  top: 296px;

  background: var(--glass);
}

/*Edit of Strong text in the middle of background image*/

.strong {
  position: static;
  width: 477px;
  height: 100px;
  left: 37.5px;
  top: 21px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;

  color: var(--black);

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

/*Edit of subtext in the middle of background image*/
.text {
  position: static;
  width: 474px;
  height: 181px;
  left: 39px;
  top: 131px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  color: var(--black);

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

/*logo in the middle of the second part*/
.smallLogo {
  position: absolute;
  width: 60px;
  height: 45px;
  left: 628px;
  top: 742px;
}

/*size of second part*/
.secondPart {
  position: absolute;
  width: 1273px;
  height: 480px;
  top: 780px;
}

/*seu cuidado diario*/
.informationStrong {
  position: absolute;
  width: 792px;
  height: 50px;
  left: 272px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  text-align: center;

  color: var(--black);
}

/*text below cuidado diario*/

.information {
  position: absolute;
  width: 746px;
  height: 60px;
  left: 292px;
  top: 73px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;

  font-size: 18px;
  line-height: 30px;

  text-align: center;

  color: var(--black);
}

/*opções dentro do site*/
.options {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 924px;
  display: inline-block;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  height: 280px;
}

/*info das opções*/
.info {
  position: static;
  width: 229px;
  height: 144px;
  left: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}

.musicoterapia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 10px;

  position: absolute;
  width: 240px;
  height: 280px;
  right: auto;

  background: var(--ice);

  border-radius: 8px;
}

.info .title {
  position: static;
  width: 229px;
  height: 43px;
  left: 10px;
  top: 105px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: var(--black);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.info .information {
  position: static;
  width: 228px;
  left: 10px;
  top: 155px;
  text-align: justify;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 147.52%;

  display: flex;
  align-items: center;
  letter-spacing: auto;
  color: #6e7886;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 25px 0px;
}

.meditação {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 10px;

  position: absolute;
  width: 240px;
  height: 280px;
  left: 260px;
  background: var(--ice);
  border-radius: 8px;
}

.info-med .title {
  position: static;
  width: 229px;
  height: 30px;
  left: 10px;
  top: 105px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: var(--black);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 25px 0px;
}

.info-med .information-med {
  position: static;
  width: 228px;
  height: 89px;
  left: 10px;
  top: 160px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 147.52%;
  /* or 21px */

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #6e7886;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 25px 0px;
}

.jogos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 10px;

  position: absolute;
  width: 240px;
  height: 280px;
  left: 520px;

  background: var(--ice);
  border-radius: 8px;
}

.info-game .title {
  position: static;
  width: 229px;
  height: 30px;
  left: 10px;
  top: 105px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: var(--black);

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 25px 0px;
}

.info-game .information-game {
  position: static;
  width: 228px;
  height: 89px;
  left: 10px;
  top: 160px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 147.52%;

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #6e7886;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 25px 0px;
}

.DiaryMood {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 10px;

  position: absolute;
  width: 240px;
  height: 280px;
  left: 775px;
  background: var(--ice);
  border-radius: 8px;
}
.info-mood .title {
  position: static;
  width: 229px;
  height: 30px;
  left: 10px;
  top: 105px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: var(--black);

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 25px 0px;
}

.info-mood .information-mood {
  position: static;
  width: 228px;
  height: 89px;
  left: 10px;
  top: 160px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 147.52%;

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #6e7886;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 25px 0px;
}

.Sports {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 10px;

  position: absolute;
  width: 240px;
  height: 280px;
  left: 1030px;
  top: -1px;

  background: var(--ice);
  border-radius: 8px;
}
.info-sport .title {
  position: static;
  width: 229px;
  height: 30px;
  left: 10px;
  top: 105px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: var(--black);

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 25px 0px;
}

.info-sport .information-sport {
  position: static;
  width: 228px;
  height: 89px;
  left: 10px;
  top: 160px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 147.52%;

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #6e7886;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 25px 0px;
}

/*style of footer*/
#footer {
  top: 1235px;
  position: absolute;
  width: 100%;
  height: 240px;
}

/*style of footer list links*/

.foot-list {
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  padding-left: 150px;
  left: 5%;
  bottom: 35.5%;
  justify-content: space-between;
  line-height: 38px;
  list-style: none;
  position: relative;
  height: 120px;
  width: 50%;
}

.foot-list .list-footer-pages {
  font-family: "Poppins", sans-serif;
}

/*links below footer page*/
.foot-list-link {
  flex-direction: row;
  align-items: center;
  padding: 22px 12px;
  padding-left: 228px;
  justify-content: space-between;
  list-style: none;
  position: relative;
  width: auto;
  height: 120px;
}

.foot-list-link .list-footer-links {
  display: inline-block;
  margin: 0;
  justify-content: space-between;
  padding: 0px 25px;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  color: var(--purple);
}

/*styles of apps  (google and apple) */
.Apps {
  position: absolute;
  left: 41.62%;
  top: -0.29%;
  box-sizing: border-box;
  justify-content: space-between;
  inline-size: auto;
  height: auto;
}

/*style of icons*/
.Apps .apps-icon {
  display: inline-block;
  height: 35px;
  max-width: 30rem;
  margin: 0 auto;
  cursor: pointer;
  margin-right: 5px;
}

/*style of text*/
.Apps .apps-text {
  padding-left: 7.4%;
  font-size: 22px;
  padding-bottom: 3%;
  font-family: "Poppins", sans-serif;
  color: var(--purple);
}

/*style of social position in page*/
.social {
  position: absolute;
  right: 2.74%;
  top: -0.29%;
}
/*style of icons (facebook, instagram, youtube*/
.social-icon {
  height: 40px;
  width: 38px;
  padding-left: 5px;
  margin-left: 25px;
  cursor: pointer;
}
/*acesse nossas redes*/
.social .message {
  font-size: 22px;
  padding-bottom: 3%;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--purple);
}

/*style of the logo in footer*/

.logo-footer {
  height: auto;
  position: relative;
  width: 130px;
  left: 50px;
}

/*style of size of logo footer*/
.logo-footer .imgFooter {
  width: 80px;
  height: 63px;
  bottom: 30px;
}

/*style of name below footer image*/
.logo-footer .logoName {
  position: absolute;
  left: -6.22%;
  right: 85.35%;
  top: 40px;

  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;

  color: var(--dark-purple);
}
